<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<a href = "https://bitsandspikes.github.io/"></a>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href = "bitsandspikes.github.io/_posts/ShraddhaShahCV2020.pdf"target="_blank">Curriculum Vitae</a></li>
		        	
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:shraddha2205@gmail.com" target="_blank">Email</a></li>
	        		<li><a href="https://twitter.com/gluttoninwonder" target="_blank">Twitter</a></li>
				<li><a href="https://github.com/bitsandspikes/bitsandspikes.github.io" target="_blank">Github</a></li>
				<li><a href="https://community.sfn.org/index.php?/blogs/blog/12-theory-and-interdisciplinarity-in-neuroscience/" target="_blank">SfN Neuronline Blog Link</a></li>
				
				</ul>
			</footer>
		</body>
	</html>
